@model WebAdminDashboard.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutUser";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-7">
            <h3 class="mb-4">Register</h3>
            <form asp-action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>